{% extends 'base.html.twig' %}

{% block title %}Nouveau Atelier
{% endblock %}

{% block body %}
	<div class="shadow p-3 mb-2 bg-body border-bottom rounded mx-auto w-50">
		<h3 class="text-center shadow p-3 bg-secondary bg-opacity-10">Ajouter un Atelier</h3>
	</div>


	<div id="calendrier"></div>

	{{ include('atelier/_form.html.twig') }}

	{# <a href="{{ path('app_listeAtelier_index') }}">back to list</a> #}
{% endblock %}
