{% extends 'base.html.twig' %}

{% block title %}Cyber Base - Listes des Usagers
{% endblock %}
{% block body %}
	<h3 class="text-center fw-bold text-dark text-decoration-underline">LISTES DES USAGERS</h3>

	<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
		<a class="btn btn-primary" href="{{ path('app_usager_new') }}">+ Usager</a>
	</div>
	<div class="row d-flex m-3 justify-content-center">
		<div class="col-sm-6">
			<input id="rechercheUsager" list="dataListNom" onkeyup="rechercheNomUsager()" type="search" placeholder="Rechercher" class="form-control">
			<datalist id="dataListNom"></datalist>
		</div>
	</div>

	{% for message in app.flashes('success')  %}
		<div class="alert alert-success mt-4">
			{{ message }}
		</div>
	{% endfor %}

	<table class="table table-striped table-hover  text-center mb-3">
		<thead>
			<tr>
				{# <th>Id</th> #}
				{# <th>Sexe</th> #}
				<th>Nom</th>
				<th>Prénom</th>
				<th>Tél</th>
				<th>Email</th>
				<th>Adresse</th>
				<th>Ville</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody id="divUsagers">

		</tbody>
	</table>

{% endblock %}
