{% extends 'base.html.twig' %}

{% block title %}New Poste{% endblock %}

{% block body %}
    <h1>Create new Poste</h1>

    {{ include('poste/_form.html.twig') }}

    <a href="{{ path('app_poste_index') }}">back to list</a>
{% endblock %}
