<form method="post" action="{{ path('app_animateur_delete', {'id': animateur.id}) }}" 
onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animateur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
