<form method="post" action="{{ path('app_animateur_delete', {'id': animateur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animateur.id) }}">
    <button class="btn">Delete</button>
</form>
