{% extends 'base.html.twig' %}

{% block title %}Modifier Animateur
{% endblock %}

{% block body %}
	<h3 class="text-center shadow p-2 w-50 mx-auto">Modifier Animateur</h3>

		{{ include('animateur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


 

		{# <a href="{{ path('app_animateur_index') }}" class="btn btn-warning">back to list</a> #}

{% endblock %}
