{% extends 'base.html.twig' %}

{% block title %}New Animateur{% endblock %}

{% block body %}
    <h1>Create new Animateur</h1>

    {{ include('animateur/_form.html.twig') }}

    <a href="{{ path('app_animateur_index') }}">back to list</a>
{% endblock %}
