<form method="post" action="{{ path('app_partenaire_delete', {'id': partenaire.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partenaire.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
