{% extends 'base.html.twig' %}

{% block title %}Modifier Partenaire{% endblock %}

{% block body %}
    <h1>Edit Partenaire</h1>

    {{ include('partenaire/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_partenaire_index') }}">Retour à la liste</a>

    {{ include('partenaire/_delete_form.html.twig') }}
{% endblock %}
