{% extends 'base.html.twig' %}

{% block title %}Nouveau Partenaire{% endblock %}

{% block body %}
    <h1>Créer un nouveau Partenaire</h1>

    {{ include('partenaire/_form.html.twig') }}

    <a href="{{ path('app_partenaire_index') }}">Retour à la liste</a>
{% endblock %}
