{% extends 'base.html.twig' %}

{% block title %}Nouveau Quartier{% endblock %}

{% block body %}
    <h1>Créer un nouveau Quartier</h1>

    {{ include('quartier/_form.html.twig') }}

    <a href="{{ path('app_quartier_index') }}">back to list</a>
{% endblock %}
