{% extends 'base.html.twig' %}
{% block title %}Erreur - page non trouvée{% endblock %}

{% block body %}

    <div class="container">
    <div class="row">
        <div class="col-md-12 mr-auto ml-auto text-center py-5 mt-3">
            <div class="card justify">
                <div class="card-body">
                    <h1 class="card-title alert alert-danger" role="alert">Error Page</h1>
                    <h2 class="card-title">{{ status_code }}  Error</h2>
                    <p class="card-text">
                        The page you are searching for is Not Available :(
                    </p>
                    <a href="{{ 'home' }}" class="btn btn-primary">Go Back to Home Page</a>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}